.virtues {
  padding-top: 94px;
}
.virtues p {
  padding-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.05em;
  color: var(--dark-gray-color);
}
.virtues-item h3 {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.172;
  margin-top: 30px;
}
.virtues-list {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}
.virtues-item {
  display: inline-block;
  font-weight: bold;
  min-height: 101px;
  min-width: 270px;
  font-size: 14px;
}
.virtues-list li:nth-child(n + 2) {
  margin-left: 30px;
}
.virtues-image {
  width: 270px;
  min-height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.virtues-image > svg {
  display: flex;
  align-self: center;
  justify-items: center;
  margin: auto;
}
